<%= form_for @provider do |f| %>

  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@provider.errors.count, "error") %> prohibited
        this provider from being saved:
      </h2>
      <ul>
        <% @provider.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <span>
      <%= f.label :name %>:
      <%= f.text_field :name %><br>
  </span>

  <span>
    <%= f.label :specialty %>:
    <%= f.text_field :specialty %><br>
  </span>

  <span>
      <% f.label :experience %>
      <label>Years of Experience:</label>
      <%= f.text_field :experience %><br>
  </span>

  <span>
      <%= f.label :email %>:
      <%= f.text_field :email %><br>
  </span>

  <span>
    <%= f.submit :Save %><br>
  </span>
<% end %>
