<% provide(:title, "Providers") %>
<h2>FleetMED Providers</h2>

<%= link_to 'New Provider', new_provider_path %>
<%= link_to 'Home', root_path %>

<br><br>

<table>
  <tr>
    <th>Name</th>
    <th>Specialty</th>
  </tr>

  <% @providers.each do |provider| %>
    <tr>
      <td><%= provider.specialties[0] %></td>
      <td><%= link_to 'Show', provider_path(provider) %></td>
      <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
      <td><%= link_to 'Delete', provider_path(provider), method: :delete , data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
