<table>

  <tr>
    <th>List Of Providers</th>
  </tr>

  <% @providers.each do |provider| %>
    <tr>
      <td><%= provider.name %></td>
      <td><%= link_to 'Show', provider_path(provider) %></td>
      <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Add New Provider', new_provider_path %>
<%= link_to 'Home', root_path %>
