<h1>Registration</h1>

<%= form_for :provider, url: providers_path do |f| %>

  <span>
      <%= f.label :name %>:
      <%= f.text_field :name %><br>
  </span>

  <span>
    <%= f.label :specialty %>:
    <%= f.text_field :specialty %><br>
  </span>

  <span>
      <% f.label :experience %>
      <label>Years of Experience:</label>
      <%= f.text_field :experience %><br>
  </span>

  <span>
      <%= f.label :email %>:
      <%= f.text_field :email %><br>
  </span>

  <span>
    <%= f.submit :Register %><br>
  </span>

<% end %>
