<!DOCTYPE html>
<html>
  <head>
    <title>FleetMED | <%= yield(:title) %></title>
    <%= favicon_link_tag 'steth.png' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="appbody">
    <%= render :partial => 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <div class="alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
    <!-- # displays debug information when the environment is set to development -->

  </body>
</html>
